name: pull-request-workflow
on:
  pull_request:
    branches:
      - main
jobs:
  linting:
    name: Run Flake8 Linting
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@main
      - name: Use Python version 3.8
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          python -m pip install flake8
          python -m pip install -r requirements.txt
      - name: Run linting tests
        run: flake8 MLops-exercise/Initial_job/main2.py
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@main
      - name: Use Python version 3.8
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          python -m pip install -r requirements.txt
      - name: Run unit tests
        run: pytest tests/